* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    overflow: hidden;
}

li {
    float: right;
}

.main-nav {
    display: block;
    font-size: 15px;
    padding: 20px 20px;
}

nav a {
    color: #707070;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 10px;
}

nav a:hover {
    text-decoration: underline;
}

.push {
    margin-right: auto;
}

.grid {
    height: 27px;
    position: relative;
    bottom: 6px;
}

.signin {
    position: relative;
    border: 1px solid transparent;
    background: #1a73e8;
    color: white;
    border-radius: 4px;
    padding: 9px 24px;
    font-size: 14px;
    letter-spacing: .25px;
    bottom: 8px;
    cursor: pointer;
}

.logo {
    display: block;
    margin: 20vh auto;
}

.bar {
    background-color: transparent;
    margin: -18vh auto;
    width: 575px;
    border-radius: 30px;
    border: 1px solid #dcdcdc;
}

.bar:hover {
    background-color: #fff;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223,225,229,0);
}

.searchbar {
    height: 50px;
    border: none;
    border-radius: 30px;
    padding: 20px;
    width: 570px;
    font-size: 16px;
    outline: none;
}


[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

.buttons {
    display: block;
    text-align: center;
    margin: 20vh auto;
}

.searchbtn {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
}

.searchbtn:hover {
    border: 1px solid #c8c8c8;
    box-shadow: 0 1px 1px rgb(32 33 36 / 28%);
}

.footer {
    display: flex;
    justify-content: space-around;
    position: fixed;
    font-family: arial, sans-serif;
    bottom: 0;
    width: 100%;
    text-decoration: none;
    background-color: #f2f2f2;
    border-top: 1px solid #dadce0;
    font-size: 14px;
    padding: 15px 20px;
}

.footer a {
    position: relative;
    justify-content: space-around;
    color: #707070;
    text-decoration: none;
    font-family: arial, sans-serif;
    padding: 15px 15px;
}

.footer a:hover {
    text-decoration: underline;
}
